.find{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardMovie {
    margin: 1%;
    margin: 1%;
    padding: 1%;
    width: 20rem;
    height: 10rem;
    background: radial-gradient(rgba(255, 0, 0, 0.521),rgba(0, 0, 0, 0.521)) ;
    box-shadow: 2px 2px 5px rgb(26, 18, 18);
    display: flex ;
    justify-content: space-around;
    align-items: center;
    border-radius: 2%;
}
.cardMovie:hover {
    margin: 1%;
    margin: 1%;
    padding: 1%;
    width: 20rem;
    height: 10rem;
    background: radial-gradient(rgba(255, 0, 0, 0.521),rgba(0, 0, 0, 0.521)) ;
    box-shadow: 2px 2px 5px rgb(250, 250, 250);
    display: flex ;
    justify-content: space-around;
    align-items: center;
    border-radius: 2%;
}

.uele {
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.search{
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-container button {
    margin-left: 2%;
}
.busc{
    background-color: rgba(255, 0, 0, 0.39);
    border-radius: 10px;
    border:none;
    height: 22px;
}
.busca{
    margin-left: 2%;
}

.label {
    padding-right: 1px;
}
.cardDet{
    justify-content: center;
    align-items: center;
}

.botonS {
    color: white;
    background-color: black;
    border-radius: 5px;
    align-items: center;
}
.botonS:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 5px;
    align-items: center;
}

.result{
    color: aliceblue;
    text-decoration: none;
}

.imgBusc {
    margin-top: 5px;
}