.cardMovie {
    margin: 1%;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 5px rgb(119, 15, 15);
    display: flex ;
    justify-content: space-around;
    align-items: center;
}
.uele {
    margin:0;
    padding: 0;
}

.search{
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-container button {
    margin-left: 2%;
}
.busc{
    background-color: rgba(255, 0, 0, 0.185);
    border-radius: 10px;
    border:none;
    height: 20px;
}
.busca{
    margin-left: 2%;
}

.label {
    padding-right: 1px;
}

.botonS {
    color: white;
    background-color: black;
    border-radius: 5px;
    align-items: center;
}
.botonS:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    align-items: center;
}

.result{
    text-decoration: none;
}