.about h2{
    margin-left: 1%;
}

.about h3{
    margin-left: 1%;
    margin-top: 6%;
}

.containerTec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.tecno{ 
    margin:1%;
}

.link{
    margin: 1%;
    color: aliceblue;
    text-decoration: none;
    font-family: cursive;
}