
.details {
  margin: 1%;
  margin-left: 1%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#544C21;
  width: 22rem;
  height: 50rem;
  padding: 5px 0 0 5px;
  border-radius: 4%;
}

.details h4 h6{
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 4px 0;
}

.details h2 {
    margin-left: 12px;
    background: #C4AF3D;
    border-radius: 5px;
    color: #544C21;
    font-size: 14px;
    padding: 0px 4px;
  }



