
.details {
  color: aliceblue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 1%;
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:transparent;
  width: auto;
  height: auto;
  border-radius: 2%;
}

.imgDet{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7%;
    margin-left: 23%;
    box-shadow: 1px 2px 30px 15px rgba(255, 0, 0, 0.425) ;
}

.cardDet{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 1px;
  border-radius: 5%;
  background:linear-gradient(rgba(0, 0, 0, 0.984), rgba(0, 0, 0, 0.977)) 

}

.cardDet h2{
  background:linear-gradient(rgba(255, 0, 0, 0.58), rgba(0, 0, 0, 0.374));
  margin: 8% 0 8% 0;
}

.cardDet h5{
  border-radius: 2%;
  background:linear-gradient(rgba(0, 0, 0, 0.986), rgba(0, 0, 0, 0.774));
  margin: 38% 0 8% 0;
}

.cardDet h4{
  margin: 8% 0 8% 0;
}
